#map-container {
  max-width: 100%;
  overflow: hidden;
  color: red;
  width: 600px;
  height: 400px;

  #map {
    height: 100%;
    width: 100%;
    max-width: 100%;
  }

  iframe {
    height: 100%;
    width: 100%;
    border: 0;
  }
}
